$step: 21;
$opacity: 0.83;
$startColor: rgba(48, 173, 64, $opacity);
$middleColor: rgba(255, 206, 52, $opacity);
$endColor: rgba(237, 46, 27, $opacity);
$inactiveState: rgba(250, 250, 250, $opacity);
$toolTipColor: rgb(0, 76, 135);

//header styles, must move out
.rep-me-logo {
  &--first-line{
    text-transform: uppercase;
    font-weight: 700;
    color: $toolTipColor;
    span{
      text-transform: lowercase;
      color: red;
      font-size: 27px;
      font-style: italic;
      margin-left: 5px;
    }
  }
  &--second-line {
    font-size: 15px;
    font-style: italic;
    color: $toolTipColor;
  }
}

//footer style must be moved

footer .footer-logo div {
  display: flex;
  flex-flow: row nowrap;
  line-height: 20px;
  justify-content: center;
  .rep-me-logo {
    &--first-line{
      margin-right: 10px;
      font-size: 22px;
      line-height: 26px;
      margin-top: 12px;
      margin-left: 5px
      span {
          line-height: 21px;
      }
    }
    &--second-line {
      margin-top: 14px;
      font-size: 20px;
    }
 }
}

.ballot__wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  footer {
    flex: auto;
  }
}

.slider--horizontal{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 85px;
  padding: 25px 80px;
  .slider {
      margin-top: 35px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: $inactiveState;
  &.first-time-use{
    .overlay-content{
      color:black;
    }
    .icon svg{
      fill:red !important;
    }
    .closing-date{
      color:red;
    }
  }
}

@if $middleColor {
  $middleStep: round($step/2);
  @for $i from 0 to $middleStep {
    .slider__color--stop-#{$i} {
      @extend .overlay;
      background-color: mix($middleColor, $startColor, ($i / $middleStep) * 100);
    }
  }
  @for $i from $middleStep to ($step + 1) {
    .slider__color--stop-#{$i} {
      @extend .overlay;
      background-color: mix($endColor, $middleColor, ( ($i - $middleStep) / ( $middleStep) * 100));
    }
  }
}
