$step: 20;
$opacity: 0.75;
$startColor: rgba(48, 173, 64, $opacity);
$middleColor: rgba(255, 206, 52, $opacity);
$endColor: rgba(237, 46, 27, $opacity);

.ballot__wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  footer {
    flex: auto;
  }
}

.slider--horizontal{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: $startColor;
}

@if $middleColor {
  $middleStep: $step/2;
  @for $i from 0 to $middleStep {
    .slider__color--stop-#{$i} {
      @extend .overlay;
      background-color: mix($middleColor, $startColor, ($i / $middleStep) * 100);
    }
  }
  @for $i from $middleStep to ($step + 1) {
    .slider__color--stop-#{$i} {
      @extend .overlay;
      background-color: mix($endColor, $middleColor, ( ($i - $middleStep) / ( $middleStep) * 100));
    }
  }
}
