.ballot__wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
    &.widget-view {
      max-width: 768px;
      width: 768px;
      max-height: 768px;
      height: 768px;
      overflow: hidden;
      overflow-y: scroll;
    }
}
