footer {
  background-color: #f5f5f5;
  border-top: 1px solid #c1c2c2;
  font-family: Roboto, sans-serif;
  .footer-logo {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .social-nav {
    color: #a7a7a7;
    padding: 0 !important;
     &--icon {
       font-size: 18px;
    }
  }
}