$fontFamily: 'Playfair Display', serif;
$fontFamilySmall: 'Lato', sans-serif;
$lineHeight: 32px;
$maxLines: 3;

.overlay-content {
  display: flex;
  flex-flow: column nowrap;
  color: white;
  padding: 40px 80px;
  overflow: hidden;
  font-family: $fontFamily;
  .main {
    padding-bottom: 70px;
    .icon {
      padding-bottom: 15px;
    }
    h1 {
      margin-bottom: 10px;
      overflow: hidden;
      font-size: $lineHeight;
      max-height: $lineHeight * $maxLines;

      &:after{
        content:'...';
      }
    }
    .bill-number{
      text-transform: uppercase;
      font-family: $fontFamilySmall;
    }
    .closing-date {
      font-family: $fontFamilySmall;
      font-size: 12px;
    }
  }
  .divider{
    height: 3px;
    background-color: black;
    max-width: 500px;
    margin: 5px 0;
    opacity: .2;
  }
  .subtitle{
    max-width: 500px;
    font-size: 14px;
  }
}