$baseGrey: #c1c2c2;
$voteGreen: green;
$white: white;

//refactor out
.chart-title{
  width: 100%;
  padding: 25px 20px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .divider {
    flex: auto;
    height: 3px;
    background: $baseGrey;
    opacity: .6;
  }
  .content{
    flex: auto;
    max-width: 400px;
    text-align: center;
    div{
      font-size: 20px;
      text-transform: uppercase;
      color: $baseGrey;
    }
    h2.with-super{
      margin-top: 0;
    }
  }
}

.ballot{
  &__wrapper {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  &__results {
    &--barchart{
      margin-top: 30px;
      padding: 25px 80px;
    }
  }

}
