$baseGrey: #c1c2c2;
$voteGreen: green;
$white: white;

.wrapper {
  display: flex;
  flex-flow: row wrap;
  min-height: 660px;
  padding: 40px 0;
  justify-content: center;
}

@media (max-width: 1220px){
  .wrapper {
    display: flex;
    flex-flow: column nowrap;
    min-height: 660px;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    .rep-card {
      flex: 1;
    }
  }
}

.rep__card{
  flex: 0;
  $imgSize: 200px;
  flex: auto;
  display: flex;
  flex-flow: row nowrap;
  max-width: 550px;
  min-height: 660px;
  max-height: 660px;
  background: beige;
  margin: 20px;
  font-family: Roboto, sans-serif;
  padding: 20px;
  &--profile {
    flex: 1 1 60%;
    display: flex;
    flex-flow: column nowrap;
    background: $white;
    padding: 30px;
    &-title {
      display: flex;
      flex-flow: column nowrap;
      span {
        font-size: 48px;
        font-weight: 700;
      }
      .rep__card--profile-position{
        font-size: 18px;
        font-weight: 600;
        color: $baseGrey;
        text-transform: uppercase;
      }
    }
    &-profile-img {
      margin: 25px 0;
      width: $imgSize;
      height: $imgSize;
      border-radius: $imgSize;
      overflow: hidden;
      border: 15px solid $baseGrey;
      background-size: cover;
      background-position: center;
    }
    &-party-icon {
      max-width: 45px;
      max-height: 45px;
      padding: 5px 0;
    }
    &-profile-description {
      display: flex;
      flex-flow: column nowrap;
      font-size: 18px;
      div, span{
        line-height: 25px;
      }
    }
  }
  &--vote-data{
    flex: 1 1 40%;
    display: flex;
    flex-flow: column nowrap;
  }
  &--voting-divider {
    height: 0;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 35px solid $white;
  }
  &--voted{
    flex: 1 1 25%;
    text-align: center;
    padding: 30px 30px 20px 30px;
    color: $white;
    div {
      text-transform: uppercase;
      max-width: 100px;
      font-size: 16px;
      text-align: left;
    }
    i {
      font-size: 120px;
    }
  }
  &--voting-parity{
    flex: 1 1 75%;
    font-size: 22px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 40px 50px 20px 50px;
    background: $white;
    &-amount{
      color: $voteGreen;
      font-size: 30px;
      font-weight: 700;
    }
  }
  // sample state
  &--voting-state {
    background: $white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0px 0 20px 0;
    &-wrapper{
      width: 270px;
    }
  }
}

//refactor out
.chart-title{
  width: 100%;
  padding: 25px 20px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .divider {
    flex: auto;
    height: 3px;
    background: $baseGrey;
    opacity: .6;
  }
  .content{
    flex: auto;
    max-width: 400px;
    text-align: center;
    div{
      font-size: 20px;
      text-transform: uppercase;
      color: $baseGrey;
    }
    h2.with-super{
      margin-top: 0;
    }
  }
}

.ballot{
  &__wrapper {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  &__results {
    &--barchart{
      margin-top: 30px;
      padding: 25px 80px;
      .vote-labels{
        display: flex;
        flex-flow: row nowrap;
        display: flex;
        flex-flow: row nowrap;
        background: #efefef;
        padding: 20px 15px;
        border-top: 3px solid rgba($baseGrey, 0.6);
        div {
          flex: 1 1 20%;
          justify-content: center;
          display: flex;
          min-height: 100%;
          align-items: center;
          span {
            max-width: 90px;
            font-family: Roboto, sans-serif;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
          }

          &:first-child{
            justify-content: flex-start;
          }
          &:nth-child(2){
            flex: 1 1 14%;
          }
          &:nth-child(3){
            flex: 1 1 32%;
          }
          &:nth-child(4){
            flex: 1 1 14%;
          }
          &:last-child{
            justify-content: flex-end;
          }
        }
      }
    }
  }

}
