.demo_data {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  padding: 0 30px 40px 30px;
  justify-content: center;
  &--data {
    display: flex;
    flex-flow: column nowrap;
    &-point {
      padding-bottom: 10px;
      span {
        font-size: 12px;
      }
      div {
        text-transform: capitalize;
        font-size: 28px;
        font-weight: 600;
      }
    }
  }
  &--icon {
    max-width: 200px;
  }
}