      $baseGrey: #c1c2c2;
      $voteGreen: green;
      $white: white;
      $fontFamily: 'Playfair Display', serif;

      .vote-labels {
        display: flex;
        flex-flow: row nowrap;
        display: flex;
        flex-flow: row nowrap;
        background: #efefef;
        padding: 20px 15px;
        border-top: 3px solid rgba($baseGrey, 0.6);
        div {
          flex: 1 1 20%;
          justify-content: center;
          display: flex;
          min-height: 100%;
          align-items: center;
          position: relative;
          span {
            max-width: 90px;
            font-family: $fontFamily;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
          }
          &:nth-child(2),
          &:nth-child(4) {
            margin: 0 15%;
            @media screen and (max-width: 768px) {
              margin: 0;
            }
          }
          &:first-child {
            justify-content: flex-start;
          }
          &:last-child {
            justify-content: flex-end;
          }
        }
      }